<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="WcR2.Network" type="WzComparerR2.Network.NetworkConfig, WzComparerR2.Network, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="WcR2.MapRender" type="WzComparerR2.MapRender.Config.MapRenderConfig, WzComparerR2.MapRender, Version=2.0.3.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="WcR2" type="WzComparerR2.Config.WcR2Config, WzComparerR2, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="WcR2.CharaSim" type="WzComparerR2.Config.CharaSimConfig, WzComparerR2, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="WcR2.ImageHandler" type="WzComparerR2.Config.ImageHandlerConfig, WzComparerR2, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <WcR2.Network>
        <logLevel value="Info" />
        <nickName value="No Name #6495" />
        <wcID value="d1b32a17-0451-409c-9193-916c19f59319" />
        <servers value=":2100;:2101;:2102;:2103;:2104" />
    </WcR2.Network>
    <WcR2.MapRender>
        <volume value="1" />
        <muteOnLeaveFocus value="true" />
        <clipMapRegion value="true" />
        <defaultFontIndex value="0" />
        <topBar.Visible value="false" />
        <minimap.CameraRegionVisible value="false" />
        <worldMap.UseImageNameAsInfoName value="false" />
    </WcR2.MapRender>
    <WcR2.CharaSim>
        <selectedFontIndex value="3" />
        <autoQuickView value="false" />
        <skill showID="true" showProperties="true" showDelay="true" showReqSkill="true"
            defaultLevel="LevelMax" intervalLevel="10" />
        <gear showID="true" showWeaponSpeed="true" showLevelOrSealed="true"
            showMedalTag="false" />
        <item showID="true" linkRecipeInfo="true" linkRecipeItem="true" />
        <recipe showID="true" />
        <mob showID="true" />
        <npc showID="true" />
    </WcR2.CharaSim>
    <WcR2>
        <mainStyle value="Office2007VistaGlass" />
        <mainStyleColor value="DimGray" />
        <recentDocuments>
            <clear />
            <add hash="1988bf75-3115-4f96-a2d8-056138565a66" value="I:\002 - Game\Maple\Base.wz" />
            <add hash="d93ab737-15f1-48b1-a940-2951cc31091f" value="I:\002 - Game\Maple\Character.wz" />
            <add hash="9b9e15b1-7203-4c3f-8089-fa864d475834" value="I:\002 - Game\Maple\Map001.wz" />
            <add hash="21f13c82-69dc-4bec-8075-798d6d935a52" value="I:\002 - Game\Maple\Skill001.wz" />
        </recentDocuments>
        <comparerOutputFolder value="" />
        <sortWzOnOpened value="false" />
        <wzEncoding value="0" />
        <autoDetectExtFiles value="false" />
        <patcherSettings>
            <clear />
            <add serverName="KMST" urlFormat="http://maplestory.dn.nexoncdn.co.kr/PatchT/{1:d5}/{0:d5}to{1:d5}.patch"
                version0="0" version1="0" />
            <add serverName="KMS" urlFormat="http://maplestory.dn.nexoncdn.co.kr/Patch/{1:d5}/{0:d5}to{1:d5}.patch"
                version0="0" version1="0" />
            <add serverName="JMS" urlFormat="ftp://download2.nexon.co.jp/maple/patch/patchdir/{1:d5}/{0:d5}to{1:d5}.patch"
                version0="0" version1="0" />
            <add serverName="GMS" urlFormat="http://download2.nexon.net/Game/MapleStory/patch/patchdir/{1:d5}/CustomPatch{0}to{1}.exe"
                version0="0" version1="0" />
            <add serverName="TMS" urlFormat="http://tw.cdnpatch.maplestory.beanfun.com/maplestory/patch/patchdir/{1:d5}/{0:d5}to{1:d5}.patch"
                version0="0" version1="0" />
            <add serverName="MSEA" urlFormat="http://patch.maplesea.com/sea/patch/patchdir/{1:d5}/{0:d5}to{1:d5}.patch"
                version0="0" version1="0" />
        </patcherSettings>
    </WcR2>
    <WcR2.ImageHandler>
        <backgroundColor value="White" />
        <backgroundType value="Transparent" />
        <minMixedAlpha value="0" />
        <minDelay value="10" />
        <autoSavePictureFolder value="" />
        <autoSaveEnabled value="false" />
        <savePngFramesEnabled value="true" />
        <gifEncoder value="2" />
        <mosaicInfo color0="" color1="" blockSize="1" />
        <imageNameMethod value="Default" />
        <paletteOptimized value="false" />
    </WcR2.ImageHandler>
</configuration>